<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylyn.jira.repository"
         name="JIRA Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylyn.internal.jira.ui.JiraRepositoryConnector"
            id="org.eclipse.mylyn.jira.tasklist.repositories"
            name="JIRA Repository Connector"
            type="jira"/>
	  <connectorUi
         brandingIcon="icons/eview16/jira-logo.gif"
         class="org.eclipse.mylyn.internal.jira.ui.JiraRepositoryUi"
         name="JIRA Repository UI"
         overlayIcon="icons/eview16/overlay-jira.gif"/>
            
      <externalizer 
            class="org.eclipse.mylyn.internal.jira.ui.JiraTaskExternalizer"
            id="org.eclipse.mylyn.jira.tasklist.externalizer"/>
   </extension>  

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <editorFactory
            class="org.eclipse.mylyn.internal.jira.ui.editor.JiraTaskEditorFactory"
            id="org.eclipse.mylyn.jira.ui.JiraTaskEditorFactory"/>            
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="false"
            anonymous="false"
            repositoryKind="jira"
            label="Codehaus"
            urlRepository="http://jira.codehaus.org/"/>
      <repository
            addAutomatically="false"
            anonymous="false"
            repositoryKind="jira"
            label="Apache"
            urlRepository="http://issues.apache.org/jira/"/>
   </extension>

</plugin>
