<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylyn.jira.repository"
         name="JIRA Repository"
         point="org.eclipse.mylyn.tasks.ui.repositories">

      <connectorCore
            class="org.eclipse.mylyn.internal.jira.ui.JiraRepositoryConnector"
            id="org.eclipse.mylyn.jira.tasklist.repositories"
            name="JIRA Repository Connector"
            type="jira"/>
	  <connectorUi
         brandingIcon="icons/eview16/jira-logo.gif"
         class="org.eclipse.mylyn.internal.jira.ui.JiraConnectorUi"
         name="JIRA Repository UI"
         overlayIcon="icons/eview16/overlay-jira.gif"/>
            
      <taskListFactory 
            class="org.eclipse.mylyn.internal.jira.ui.JiraTaskListFactory"
            id="org.eclipse.mylyn.jira.tasklist.factory"/>
   </extension>  

   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <editorFactory
            class="org.eclipse.mylyn.internal.jira.ui.editor.JiraTaskEditorFactory"
            id="org.eclipse.mylyn.jira.ui.JiraTaskEditorFactory"/>            
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.core.templates">
      <repository
            addAutomatically="false"
            anonymous="false"
            repositoryKind="jira"
            label="Codehaus"
            urlRepository="http://jira.codehaus.org/"/>
      <repository
            addAutomatically="false"
            anonymous="false"
            repositoryKind="jira"
            label="Apache"
            urlRepository="http://issues.apache.org/jira/"/>
   </extension>

   <extension
         point="org.eclipse.mylyn.tasks.ui.duplicateDetectors">
      <detector
            class="org.eclipse.mylyn.internal.jira.ui.JiraStackTraceDuplicateDetector"
            name="Stack Trace"
            kind="jira">
      </detector>
   </extension>


  <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.mylyn.jira.ui.jiraTask"
            objectClass="org.eclipse.mylyn.internal.jira.ui.JiraTask">
         <action
               class="org.eclipse.mylyn.internal.jira.ui.actions.NewSubTaskAction"
               enablesFor="org.eclipse.mylyn.internal.jira.ui.JiraTask"
               icon="icons/etool16/sub-task-new.gif"
               id="org.eclipse.mylyn.jira.ui.new.subtask"
               label="New Subtask"
               menubarPath="new"
               tooltip="New Subtask">
         </action>
      </objectContribution>
   <!--
      <viewerContribution
            id="org.eclipse.mylyn.jira.ui.viewerContribution.tasklist"
            targetID="org.eclipse.mylyn.tasks.ui.views.tasks">
         <action
               class="org.eclipse.mylyn.internal.jira.ui.actions.NewSubTaskAction"
               icon="icons/etool16/sub-task-new.gif"
               id="org.eclipse.mylyn.jira.ui.new.subtask"
               label="New Subtask"
               menubarPath="new"
               tooltip="New Subtask">
         </action>
      </viewerContribution> 
    -->
   </extension>	
</plugin>
