<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="org.eclipse.mylar.jira.repository"
         name="JIRA Repository"
         point="org.eclipse.mylar.tasklist.repositories">

      <repositoryType
            brandingIcon="icons/eview16/jira-logo.gif"
            class="org.eclipse.mylar.internal.jira.JiraRepositoryClient"
            id="org.eclipse.mylar.jira.tasklist.repositories"
            name="JIRA Repository Client"
            type="jira"/>
            
            
      <externalizer 
            class="org.eclipse.mylar.internal.jira.JiraTaskExternalizer"
            id="org.eclipse.mylar.jira.tasklist.externalizer"/>
   </extension>  
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.mylar.internal.jira.ui.JiraTaskDecorator"
            id="org.eclipse.mylar.jira.ui.decorator.task"
            label="Mylar JIRA Task Decorator"
            lightweight="true"
            objectClass="org.eclipse.mylar.provisional.tasklist.ITaskListElement"
            state="true">
         <description>
			Mylar JIRA Task Decorator
		 </description>
      </decorator>
   </extension>

</plugin>
