<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    
        <property name="connection.datasource">java:/comp/env/eclipseusageDS</property>
        <property name="connection.autocommit">false</property> 
        
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        

        <!-- Use the C3P0 connection pool. -->
        <property name="c3p0.min_size">3</property>
        <property name="c3p0.max_size">5</property>
        <property name="c3p0.timeout">1800</property>
    
        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>
        
        <!-- Print SQL to stdout. -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
    
        <!-- Update schema when SessionFactory is built. -->
        <property name="hbm2ddl.auto">update</property>
    
        <!-- Bind the getCurrentSession() method to the thread. -->
        <property name="current_session_context_class">thread</property>

        <!-- Hibernate XML mapping files -->
        <mapping resource="org/eclipse/mylyn/monitor/core/package.hbm.xml"/>
    
    </session-factory>

</hibernate-configuration>
