<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="com.atlassian.connector.eclipse.internal.directclickthrough.ui.preferences.DirectClickThroughPreferenceInitializer">
         </initializer>
    </extension>
      
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.atlassian.connector.eclipse.ui.preferences.AtlassianPreferencePage"
            class="com.atlassian.connector.eclipse.internal.directclickthrough.ui.preferences.DirectClickThroughPreferencePage"
            id="com.atlassian.connector.eclipse.internal.vqembweb.ui.preferences.DirectClickThroughPreferencePage"
            name="Direct Click Through">
      </page>
   </extension>
   
 <extension
       point="org.eclipse.equinox.http.registry.servlets">
    <servlet
          alias="/"
          class="com.atlassian.connector.eclipse.directclickthrough.ui.Servlet1"
          load-on-startup="false">
    </servlet>
 </extension>
</plugin>
