<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="com.atlassian.connector.eclipse.internal.directclickthrough.ui.preferences.DirectClickThroughPreferenceInitializer">
         </initializer>
    </extension>
      
	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.atlassian.connector.eclipse.ui.preferences.AtlassianPreferencePage"
            class="com.atlassian.connector.eclipse.internal.directclickthrough.ui.preferences.DirectClickThroughPreferencePage"
            id="com.atlassian.connector.eclipse.internal.directclickthrough.ui.preferences.DirectClickThroughPreferencePage"
            name="Direct Click Through">
      </page>
    </extension>
    
	<extension
		name="Atlassian Connector For Eclipse Direct Click Through Support"
       	point="org.eclipse.ui.startup">
    	<startup
        	class="com.atlassian.connector.eclipse.internal.directclickthrough.ui.DirectClickThroughUiPlugin$EarlyStartup"/>
 	</extension>
 	
</plugin>
