<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension point = "org.eclipse.ui.popupMenus">
     <viewerContribution
        id="org.eclipse.mylyn.monitor.ui.commands"
        targetID="org.eclipse.jdt.ui.PackageExplorer">
	    <action  
  		  	label="Reports: My Usage Summary" 
	  		tooltip="Mylyn Reports: Usage Summary"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.EclipseUsageSummaryAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	  	<action  
  		  	label="Reports: Mylyn User Analysis" 
	  		tooltip="Mylyn Reports: User Analysis"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.FocusedUiUserAnalysisAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	 </viewerContribution> 
	 <viewerContribution
        id="org.eclipse.mylyn.monitor.ui.commands"
        targetID="org.eclipse.ui.views.ResourceNavigator">
	    <action  
  		  	label="Reports: My Usage Summary" 
	  		tooltip="Mylyn Reports: My Usage Summary"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.EclipseUsageSummaryAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	  		    <action  
  		  	label="Reports: Mylyn User Analysis" 
	  		tooltip="Mylyn Reports: User Analysis"
	  		menubarPath="mylyn.monitor" 
	  		id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.ComputeSummaryAction" 
	  		class="org.eclipse.mylyn.internal.monitor.reports.ui.actions.FocusedUiUserAnalysisAction"
	  		icon="icons/eview16/monitor.gif"
	  		enablesFor="*"/>   
	 </viewerContribution> 
   </extension>
	  		
	  		
	<extension point="org.eclipse.ui.editors">
        <editor
           icon="icons/eview16/monitor.gif"
           class="org.eclipse.mylyn.internal.monitor.usage.editors.UsageSummaryReportEditorPart"
           name="Multi-user Analysis"
           id="org.eclipse.mylyn.monitor.ui.reports.ui.actions.monitorUsersReport"/>
  	</extension>
  	
</plugin>

