a#atlassian-eclipse-connector-noteworthy img {
	background-image: url(../../images/topiclabel/wn_atlassian48.png);
}

a#atlassian-eclipse-connector-noteworthy:hover img {
	background-image: url(../../images/topiclabel/wn_atlassian48_hover.png);
}
