<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.atlassian.connector.eclipse.internal.crucible.core.CrucibleRepositoryConnector"
            id="crucible"
            name="Crucible">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/obj16/crucible.png"
            class="com.atlassian.connector.eclipse.internal.crucible.ui.CrucibleRepositoryConnectorUi"
            id="crucible"
            name="Crucible"
            overlayIcon="icons/obj16/crucible-overlay.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.ui.editors">
      <pageFactory
            class="com.atlassian.connector.eclipse.internal.crucible.ui.CrucibleEditorPageFactory"
            id="com.atlassian.connector.eclipse.internal.crucible.ui.crucible.edior.factory">
      </pageFactory>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.atlassian.connector.eclipse.cruicible.ui.comment.annotation"
            colorPreferenceKey="comment_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="true"
            highlightPreferenceKey="comment_highlight"
            highlightPreferenceValue="true"
            icon="/icons/obj16/crucible.png"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="comment_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="commet_isGoToPreviousNavigationTargetKey"
            label="Active Review Comments"
            overviewRulerPreferenceKey="comment_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="comment_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="comment_text"
            textPreferenceValue="true"
            textStylePreferenceKey="comment_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="comment_verticalRuler"
            verticalRulerPreferenceValue="true"/>
            </extension>
   <extension
         id="com.atlassian.connector.eclipse.crucible.ui.popup"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.atlassian.connector.eclipse.crucible.ui.objectContribution1"
            objectClass="org.eclipse.ui.IEditorInput">
         <action
               class="com.atlassian.connector.eclipse.internal.crucible.ui.actions.AddLineCommentToFileAction"
               enablesFor="1"
               id="com.atlassian.connector.eclipse.crucible.ui.action.add.comment"
               label="Add Crucible Comment"
               tooltip="Add Comment to Active Review">
         </action>
      </objectContribution>
   </extension>

</plugin>
