<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            class="com.atlassian.connector.eclipse.internal.branding.ui.preferences.AtlassianPreferencePage"
            id="com.atlassian.connector.eclipse.ui.preferences.AtlassianPreferencePage"
            name="Atlassian Connector">
      </page>
   </extension>
   
</plugin>
