<plugin>
	<extension point="com.atlassian.connector.eclipse.team.ui.teamUiConnector">
		<teamUiConnector
			class="com.atlassian.connector.eclipse.internal.subclipse.ui.SubclipseTeamUiResourceConnector">
		</teamUiConnector>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="org.tigris.subversion.subclipse.core.history.ILogEntry"
			class="com.atlassian.connector.eclipse.internal.subclipse.ui.LogEntryAdapterFactory">
			<adapter
				type="com.atlassian.connector.eclipse.team.ui.ICustomChangesetLogEntry" />
		</factory>
	</extension>

</plugin>
