<plugin>
   <extension
         point="org.eclipse.mylyn.tasks.ui.repositories">
      <connectorCore
            class="com.atlassian.connector.eclipse.internal.bamboo.core.BambooRepositoryConnector"
            id="bamboo"
            name="Bamboo">
      </connectorCore>
      <connectorUi
            brandingIcon="icons/obj16/bamboo.png"
            class="com.atlassian.connector.eclipse.internal.bamboo.ui.BambooRepositoryConnectorUi"
            id="bamboo"
            name="Bamboo"
            overlayIcon="icons/obj16/bamboo-overlay.png">
      </connectorUi>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.atlassian.connector.eclipse.ui.category"
            class="com.atlassian.connector.eclipse.internal.bamboo.ui.BambooView"
            icon="icons/obj16/bamboo.png"
            id="com.atlassian.connector.eclipse.bamboo.ui.plans"
            name="Bamboo">
      </view>
      <category
            id="com.atlassian.connector.eclipse.ui.category"
            name="Atlassian">
      </category>
   </extension>
      <!--<extension point="org.eclipse.ui.decorators">
      <decorator
            class="com.atlassian.connector.eclipse.internal.bamboo.ui.BambooViewLabelDecorator"
            id="com.atlassian.connector.eclipse.internal.bamboo.ui.decorators.builds"
            label="Build Decorator"
            lightweight="true"
            state="true">
         <description>
			Overlays information such as failed build retrieval.
		 </description>
         <enablement>
               <objectClass
                     name="com.atlassian.theplugin.commons.bamboo.BambooBuild">
               </objectClass>
         </enablement>
      </decorator>
   </extension>-->
   <!--<extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.atlassian.connector.eclipse.internal.bamboo.ui.editor.BambooEditor"
            contributorClass="com.atlassian.connector.eclipse.internal.bamboo.ui.editor.BambooEditorActionContribution"
            icon="icons/obj16/bamboo.png"
            id="com.atlassian.connector.eclipse.bamboo.ui.editors.build"
            name="Bamboo Build Editor">
      </editor>
   </extension>-->

</plugin>
