<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.eclipse.mylyn.target">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
			<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
			<unit id="org.apache.commons.httpclient.source" version="3.1.0.v201012070820"/>
			<unit id="org.jdom2" version="2.0.6.v20191125-0928"/>
			<unit id="org.jdom2.source" version="2.0.6.v20191125-0928"/>
			<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
			<unit id="org.apache.commons.io.source" version="2.6.0.v20190123-2029"/>
			<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
			<unit id="org.apache.commons.lang3" version="3.12.0.v20221221-1931"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.29/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<repository id="eclipse-latest" location="http://download.eclipse.org/releases/latest/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/mylyn/updates/release/latest"/>
			<unit id="org.eclipse.mylyn.commons.feature.feature.group" version="4.0.0.v20230804-1109"/>
			<unit id="org.eclipse.mylyn.commons.repositories.feature.feature.group" version="4.0.0.v20230804-1109"/>
			<unit id="org.eclipse.mylyn.tasks.feature.feature.group" version="4.0.0.v20230821-1313"/>
		</location>
	</locations>
</target>